doctype html
head
  title=title
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
  script(src='/socket.io/socket.io.js')

.container
  .row.justify-content-center
    .col-4.py-5
      .card.text-center
        .card-header Airport Verification
        .card-body
          img(src=qrCode, style="width: 100%")
          a.btn.btn-primary(href=rui) Click here if on mobile
      div
        h5.text-center.py-4#result(style="color: '#27ae60'")
script.
  var socket = io();
  socket.on('result', function(result) {
  switch (result.data) {
  //Certif Valid
  case 1:
  $('#result').html('COVID-19 Vaccine Certificate: Valid').css('color', '#27ae60')
  break
  //Certif Invalid
  case 2:
  $('#result').html('COVID-19 Vaccine Certificate: Invalid (Expired)').css('color', '#e74c3c')
  break
  //Verification Failed
  default:
  $('#result').html('Verification failed').css('color', '#e74c3c')
  }
  })